.sidebar {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    background: #111;
    user-select: none;
}

.sidebar__label {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #999;
    padding: 0 0 0.5rem 0.8rem;
    cursor: default;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    white-space: nowrap;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.sidebar a.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.sidebar li > ul > li > a {
    padding-left: 4rem;
}

.sidebar a.folder {
    background-image: url(../images/folder.svg);
    background-repeat: no-repeat;
    background-position: 0.75rem 0.45rem;
    background-size: 1.1rem;
}

.sidebar a.html {
    background-image: url(../images/html.svg);
    background-repeat: no-repeat;
    background-position: 0.7rem 0.4rem;
    background-size: 1.2rem;
}

.sidebar li > ul > li > a.html {
    background-position-x: 2.25rem;
}
