{% macro sidebarLink(href, label, icon, noHighlight = false) %}
    <a
        href="{{ href }}"
        class="{{icon}} {{ 'active' if not noHighlight and ((href == page.url) or ((href + '/') == page.url)) }}">
        {{ label }}
    </a>
{% endmacro %}