html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1;
    background-color: #1e1e1e;
    height: 100%;
    color: #fff;
}

.site-container {
    display: flex;
}

.sidebar {
    width: 250px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.sidebar a.active {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.sidebar li > ul > li > a {
    padding-left: 2rem;
}
