@import url('https://fonts.cdnfonts.com/css/fixedsys-62');

.terminal {
    background-color: #111;
    color: #a5e844;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: 'Chicago', 'FixedSys', 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 16px;
    text-shadow: 0 0 20px rgba(165,232,68, 0.20);

    background: radial-gradient(
        circle at 50% 50%,
        rgba(0, 255, 0, 0.05) 0%,
        rgba(0, 255, 0, 0.05) 10%,
        transparent 100%,
        transparent 100%
    ),
    repeating-linear-gradient(
        to bottom,
        #000 0px,
        rgba(0, 255, 0, 0.1) 1px,
        transparent 2px,
        transparent 1px
    ), #111;
}

.terminal:focus {
    outline: none;
}

.terminal__output {
    white-space: pre
}

.command-line__prompt {
    white-space: pre
}

.command-line__cursor {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
    border: 1px solid #a5e844;
    box-sizing: border-box;
}

.terminal:focus .command-line__cursor {
    background-color: #a5e844;
}

.command-line {
    display: flex;
}

.command-line__path {
    margin-right: 0.5rem;
}

.command-line__prompt {

}
